
body{
  font-family: tahoma; 
background-color: #e9ebee;
}
.blue{
    height: 100px;
    background-color: rgb(59, 89, 152);
color: #d9dfeb;
    padding: 10px;
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa{
    color: white;
    font-size: 40px;
    margin-top: auto;
}
.search{
    margin: auto;
    align-items: center;
    float: right
}
#sin{
    background-color: green;
    width: 60px;
    float: right;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    color:white;
    text-decoration: none;
}
.login{
    padding: 50px;
    background-color: white;
    height: auto;
    margin: auto;
    margin-top: 50px;
    width: 800px;
    text-align: center;

}
#text{
    width: 300px;
    height: 30px;
    border-radius: 8px;
    border: solid 1px #888;
    padding: 4px;
    font-size: 14px;
}
#button{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    background-color: rgb(59, 89, 152);
    color: white;
}
#foget{
   margin-right: 180px;
   display: inline;
   background-color: transparent;
   border: none;
  
}
#foget:hover{
    background-color: #e9ebee;
    font-size: 15px;
}
#cre{
    display: inline;
   background-color: transparent;
   border: none; 
   text-decoration: none;
}


 .sea{
   margin-left: 800px;
   width:  400px;
   height: 50px;
   margin-top: 70px;
   border-radius: 6px;
   float: right;
    
}